nav {
    position: fixed;
    left: 0;
    bottom: 0;
    height: calc(100vh - 60px);
    width: 280px;
    overflow-y: hidden;
    background: var(--sidebar-background-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;

    ul {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-top: 45px;
        width: 100%;
        height: 100%;
        border-radius: 10px;

        li {
            list-style-type: none;
            padding: 5px;
            margin-bottom: 5px;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: var(--sidebar-hover-background-color);
                a {
                    color: var(--sidebar-hover-text-color);
                }
            }

            p {
                display: flex;
                gap: 10px;
                align-items: center;
                text-decoration: none;
                color: var(--sidebar-text-color);
                font-size: 20px;
                padding: 5px;

                .icon {
                    display: inline;
                    font-size: 20px; 
                }

                .text {
                    display: inline;
                    font-weight: 400; 
                    letter-spacing: 0.5px; 
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        width: 60px;
        ul {
            padding: 0;
            li {
                margin-left: 5px;
                max-width: 50px;

                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .icon {
                        display: inline;
                        align-items: center;
                    }

                    .text {
                        display: none;
                    }
                }
            }
        }
    }
}
