nav {
    position: fixed;
    left: 0;
    bottom: 0;
    height: calc(100vh - 80px);
    width: 280px;

    overflow-y: hidden;

    background: #fff;
    
    ul {
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 280px;
        border-radius: 10px;
        height: 100%;

        li {
            list-style-type: none;
            padding: 5px;
            margin-bottom: 5px;
            border-radius: 8px;
            margin-top: 10px;
            cursor: pointer;

            &:hover {
                a {
                    color: #0080ff;
                }
                background: #efefef ;
            }

            p {
                display: flex;
                gap: 10px;
                text-decoration: none;
                color: #000;
                font-size: 18px;
                padding: 5px;

                .icon {
                    display: inline; 
                }

                .text {
                    display: inline; 
                }
            }
        }

        .bottom-icon{
            display: flex;
            width: 100%;
           align-items: flex-end;

           margin-top: auto;

        }

        .bottom-icon:hover{
            background: #cf3939;
            p{
                color: #fff;
            }
           }
    }

    @media screen and (max-width: 1024px) { 
        width: 60px; 
        ul {
            padding: 0; 
            li {

                margin-left: 5px;
                max-width: 50px;


                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .icon {
                        display: inline;
                        align-items: center;
                    }

                    .text {
                        display: none; 
                    }
                }
            }
        }
    }
}
